.bg-lightBlue {
  background-color: #edfaff;
}
.img {
  width: 80%;
}
.fa-solid ,
.fa-brands .fas {
  font-size: 30px;
}
.icon-size {
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  .img {
    width: 100%;
  }
}
