.icon-size {
  font-size: 40px;
}
.c-size {
  width: 200px;
  margin: 10px;
}
@media only screen and (max-width: 600px) {
  .c-size {
    width: 70px;
    margin: 5px;
  }
  .overlay::before,
  .overlay::after {
    z-index: 1;
  }
}
.bg-home {
  background: #717171;
  background-blend-mode: multiply;
  background-image: url("../../image/home-hero.jpg");
  height: 57vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
