.contact-bg {
  background-image: url("../../image/contactBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}
.fa-solid,
.fas {
  font-size: 40px;
}

.blue {
  color: #26a9e0;
}
.bg-blue {
  background-color: #00ace4;
}
