.bg {
  background-image: url("../../image/careerBG.png");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.light-blue {
  background-color: #dff6febd;
  /* opacity: 70%; */
}
.mt {
  margin-top: -6.5rem;
}
.font-bold {
  font-weight: bold;
}

img.customImg {
  width: 85%;
}

.blue {
  color: #00bcd4;
}
