.sub-title {
  font-size: 15px;
  text-align: justify;
}

a {
  text-decoration: none;
}

/* .num > p {
  font-size: 12px;
} */
.f-text {
  font-size: 13px;
  color: white;
}

a > p:hover {
  color: #26a9e0;
}

.fa-brands,
.fab {
  font-size: 25px;
}
.f-gray {
  background-color: #575757;
}
.f-blue {
  background-color: #00ace4;
}
a:hover {
  color: #00ace4;
}
