.sub-title {
  font-size: 0.95rem;
  text-align: justify;
}

a {
  text-decoration: none;
}

.f-text {
  font-size: 0.9rem;
  color: white;
}

a > p:hover {
  color: #26a9e0;
}

.fa-brands,
.fab {
  font-size: 1.5rem;
}
.f-gray {
  background-color: #575757;
}
.f-blue {
  background-color: #00ace4;
}
a:hover {
  color: #00ace4;
}

@media only screen and (min-width: 1200px) {
  .vl {
    border-right: 2px solid #c3c3c3;
  }
}
@media only screen and (max-width: 600px) {
  .vl {
    border-bottom: 2px solid #c3c3c3;
  }
}
@media only screen and (max-width: 768px) {
  .vl {
    border-bottom: 2px solid #c3c3c3;
  }
}
@media only screen and (max-width: 425px) {
  .vl {
    border-bottom: 2px solid #c3c3c3;
  }
}
