@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  /* font-weight: 500; */
}

.App {
  text-align: center;
  /* height: 100vh; */
}

.nav-link {
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #26a9e0;
}
