/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); */
:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
/* body {
  overflow: auto;
} */
p {
  margin-bottom: 0px;
}

.App {
  text-align: center;
  /* height: 100vh; */
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 8px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
  color: #26a9e0;
}

@media only screen and (max-width: 600px) {
  :root,
  * {
    font-size: 0.89rem;
  }
}

.navbar-toggler-icon {
  width: 2em;
  height: 2em;
}
